html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    color: #444444;
}

a {
    font-family: bold 14px/1.4 'Open Sans', arial, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: bold 14px/1.4 'Open Sans', arial, sans-serif;
    ;
}



@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# page
--------------------------------------------------------------*/
#page {
    padding-bottom: 0 !important;
    height: auto;
    min-height: calc(100% - 50px);
    z-index: 10;
}

/*--------------------------------------------------------------
# aside sidebar
--------------------------------------------------------------*/

#left-sidebar-off {
    position: fixed;
    z-index: 10;
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    transform: translateX(-250px);
}
#left-sidebar-nav img {
    height: 50px;
    width: 50px;
}

#left-sidebar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
}

#left-sidebar-nav {
    width: 100%;
}

#left-sidebar-nav img {
    height: 50px;
    width: 50px;
}
.left-sidebar-links ul {
    padding: 0;
    font-family: bold "Open Sans", sans-serif;
}

.left-sidebar-links ul li {
    list-style: none;
    padding: 5px;
}

.left-sidebar-links ul li a {

    text-decoration: none;
    color: white;
    font-size: large;

}
.left-sidebar-links ul li a:hover {
    color: #47b2e4;
}

.left-sidebar-socials {
    width: 100%;
    padding: 40px 0 0 0;
}

.left-sidebar-socials a {
    color: white;
    letter-spacing: 10px;
}





.left-sidebar-links.responsive ul>li>a {
    color: white;

}

.nav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;

}

#header.scrolled {
    color: black;
    box-shadow: 5px 5px 5px #575b5e;
    background-color: white;
}

#header.scrolled a {
    color: black;
}

#header.scrolled a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #47b2e4;
}

#header.scrolled #navTrigger i {
    background-color: black;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}




/*--------------------------------------------------------------
# hovno
--------------------------------------------------------------*/

#header.ahoj {

    color: white;
}

#header.ahoj a {
    color: white;
}

#header.ahoj a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #47b2e4;
}

#header.ahoj #navTrigger i {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.main-nav {
    margin-right: 0;
    height: 50px;
}

.nav-brand-logo {
    width: 100%;
    text-align: center;
    padding: 0 0 0 25px;
}

.nav-socials {
    color: white;
    justify-content: space-between;
    width: 100%;
    text-align: end;
    padding: 10px;
    letter-spacing: 3px;
    cursor: pointer;
}

.nav-socials a {
    color: white;
}

.nav-socials #ig:hover {
    color: violet;

}

.nav-socials #fb:hover {
    color: rgb(59, 59, 204);

}

.nav-socials #twt:hover {
    color: rgb(116, 205, 240);

}

.nav-socials #yt:hover {
    color: rgb(221, 17, 17);

}

.nav-socials #tt:hover {
    color: rgb(182, 182, 182);

}

.nav-menu .nav-resp-socials {
    display: none;
}

.nav-menu {
    writing-mode: vertical-rl;
    padding: 60px 20px 0;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    color: black;
    padding: 10px 0 10px 10px;
}

.nav-menu a {
    font-weight: bold;
    position: relative;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: bold "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: rgb(0, 193, 252);
    text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #37517e;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #47b2e4;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}











/* container */


#main-image {
    height: 100vh;
    width: 100%;
    padding: 16px;
    color: white;
    display: flex;
    background-image: url("https://wallpaperaccess.com/full/1201806.jpg");
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width:768px) {
    .nav {
        padding: 0;
    }
}

/*--------------------------------------------------------------
# About me
--------------------------------------------------------------*/




@media (max-width: 815px) {
    body {
        width: 100%;
    }
}


.about-section {
    height: 100vh;
    width: 100%;
    padding: 100px;
    text-align: center;
    color: black;
}


/* 

  nav respons
  
  */
#navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

#navTrigger i {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

#navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}



#navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

#navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

#navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

#navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

#navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}







#navTrigger {
    display: none;
}

.nav-resp {
    visibility: visible;
    width: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
}

@media screen and (max-width:768px) {

    .nav-menu {
        writing-mode: horizontal-tb;

    }

    .nav-menu ul {
        visibility: hidden;
    }

    #navTrigger {
        display: block;
        margin: 20px;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        visibility: visible;
        height: auto;
        display: none;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}


.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #3E70B1;
    line-height: 65px;
    font-size: 2.4rem;
}



@media screen and (max-width: 768px) {

    .main-nav {
        height: 100%;
        overflow: hidden;
        max-width: 100%;
    }

    .nav-menu.responsive {
        visibility: visible;
        position: fixed;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }



    .nav-menu.responsive ul {
        visibility: visible;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: black;

    }

    .nav-menu .nav-resp-socials.responsive {
        display: block;
        color: white;
        text-align: center;
        letter-spacing: 10px;
        padding: 10px 0 10px 10px;
        writing-mode: vertical-lr;

    }

    .nav-socials {
        display: none;
    }



    .nav-menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #left-sidebar-off.rolled {
        transform: translateX(0);
        transition: 1s;
    
    }
    
    #header.rolled{
        opacity: 3;
    }
    
    #content.rolled{
        background-color: #4d5052;
    }



}

.nav-active {
    transform: translateX(0%);
}